header {
    background-color: var(--surface-color);
    height: 60px;
    position: sticky;
    top: 0px;
}
/*left side*/
.logo {
    padding-right: 30%;
}

.nav-link {
    height: 100%;
}
.nav-link a {
    color: var(--nutral-color);
    font-size: 1rem;
    text-transform: uppercase;
    margin: 2%;
    padding: 1% 2%;
    padding-right: 20%;
   
    text-decoration: none;
    align-items: center;
    align-self: start;
    align-content: space-evenly;

}
.nav-link a:hover{
    border-bottom: solid 2px var(--primary-color);
}